fastapi
uvicorn
certifi
rank-bm25
openai
cohere
qdrant-client
pydantic
python-dotenv
loguru
pypdf
python-docx
langchain-text-splitters
python-multipart
groq
thefuzz
python-Levenshtein
supabase
psycopg2-binary
sqlalchemy
